@import "tailwindcss";

:root {
  --background: #052e16;
  --foreground: #ecfdf5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Trebuchet MS", "Segoe UI", sans-serif;
}
